In [45]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('Loan_default_kaggle.csv')
df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [3]:
#finding shape of the data
df.shape

(255347, 18)

In [4]:
df.columns

Index(['LoanID', 'Age', 'Income', 'LoanAmount', 'CreditScore',
       'MonthsEmployed', 'NumCreditLines', 'InterestRate', 'LoanTerm',
       'DTIRatio', 'Education', 'EmploymentType', 'MaritalStatus',
       'HasMortgage', 'HasDependents', 'LoanPurpose', 'HasCoSigner',
       'Default'],
      dtype='object')

In [7]:
# droping unwanted columns
df1 = df.drop(['LoanID', 'Education'], axis = 1)
df1.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,56,85994,50587,520,80,4,15.23,36,0.44,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,69,50432,124440,458,15,1,4.81,60,0.68,Full-time,Married,No,No,Other,Yes,0
2,46,84208,129188,451,26,3,21.17,24,0.31,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,32,31713,44799,743,0,3,7.07,24,0.23,Full-time,Married,No,No,Business,No,0
4,60,20437,9139,633,8,4,6.51,48,0.73,Unemployed,Divorced,No,Yes,Auto,No,0

In [8]:
df1.shape

(255347, 16)

In [20]:
# using sklearn label encoder mapping (0,1) HasMortgage, HasDependents, HasDependents
encoder = LabelEncoder()
df1['HasMortgage'] = encoder.fit_transform(df1['HasMortgage'])
df1['HasDependents'] = encoder.fit_transform(df1['HasDependents'])
df1['HasCoSigner'] = encoder.fit_transform(df1['HasCoSigner'])

In [21]:
df1.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,56,85994,50587,520,80,4,15.23,36,0.44,Full-time,Divorced,1,1,Other,1,0
1,69,50432,124440,458,15,1,4.81,60,0.68,Full-time,Married,0,0,Other,1,0
2,46,84208,129188,451,26,3,21.17,24,0.31,Unemployed,Divorced,1,1,Auto,0,1
3,32,31713,44799,743,0,3,7.07,24,0.23,Full-time,Married,0,0,Business,0,0
4,60,20437,9139,633,8,4,6.51,48,0.73,Unemployed,Divorced,0,1,Auto,0,0

In [24]:
df.HasCoSigner.isnull().sum()

np.int64(0)

In [29]:
df1.shape

(255347, 16)

In [65]:
X = df1.drop('Default', axis = 1)
X.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner
0,56,85994,50587,520,80,4,15.23,36,0.44,Full-time,Divorced,1,1,Other,1
1,69,50432,124440,458,15,1,4.81,60,0.68,Full-time,Married,0,0,Other,1
2,46,84208,129188,451,26,3,21.17,24,0.31,Unemployed,Divorced,1,1,Auto,0
3,32,31713,44799,743,0,3,7.07,24,0.23,Full-time,Married,0,0,Business,0
4,60,20437,9139,633,8,4,6.51,48,0.73,Unemployed,Divorced,0,1,Auto,0

In [66]:
y = df1['Default']
y.head()

0    0
1    0
2    1
3    0
4    0
Name: Default, dtype: int64

In [67]:
# train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=.20, random_state=42)

In [77]:
X_train.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner
137187,18,137576,209136,846,26,2,10.47,60,0.81,Self-employed,Single,1,0,Business,0
230334,47,57194,5970,748,30,2,19.72,36,0.73,Unemployed,Divorced,0,1,Education,0
19687,26,84328,95065,453,7,2,24.25,12,0.45,Self-employed,Married,0,0,Other,1
106509,53,49795,229582,533,107,3,14.44,60,0.17,Self-employed,Single,1,0,Auto,1
242291,49,115450,22072,840,0,4,24.48,12,0.11,Part-time,Single,0,1,Education,1

In [25]:
# one hot encoding for EmploymentType, MaritalStatus, LoanPurpose
df1.EmploymentType.unique()

array(['Full-time', 'Unemployed', 'Self-employed', 'Part-time'],
      dtype=object)

In [26]:
df1.MaritalStatus.unique()

array(['Divorced', 'Married', 'Single'], dtype=object)

In [27]:
df1.LoanPurpose.unique()

array(['Other', 'Auto', 'Business', 'Home', 'Education'], dtype=object)

In [85]:
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_ohe = ohe.fit_transform(X_train[['EmploymentType','MaritalStatus','LoanPurpose']])

In [97]:
X_test_ohn = ohe.fit_transform(X_test[['EmploymentType','MaritalStatus','LoanPurpose']])

In [87]:
X_train_ohe

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.]], shape=(204277, 9))

In [104]:
X_train_new = np.hstack((X_train[['Age','Income','LoanAmount','CreditScore','MonthsEmployed','NumCreditLines','InterestRate','LoanTerm','DTIRatio','HasMortgage','HasDependents','HasCoSigner']].values,X_train_ohe))

In [105]:
X_train_new.shape

(204277, 21)

In [98]:
X_test_new = np.hstack((X_test[['Age','Income','LoanAmount','CreditScore','MonthsEmployed','NumCreditLines','InterestRate','LoanTerm','DTIRatio','HasMortgage','HasDependents','HasCoSigner']].values,X_test_ohe))

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 51070 and the array at index 1 has size 204277

In [99]:
print("X_test shape:", X_test[['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed', 'NumCreditLines', 'InterestRate', 'LoanTerm', 'DTIRatio', 'HasMortgage', 'HasDependents', 'HasCoSigner']].values.shape)
print("X_test_ohe shape:", X_test_ohe.shape)

X_test shape: (51070, 12)
X_test_ohe shape: (204277, 12)

In [102]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [106]:
model.fit(X_train_new,X_test)

ValueError: could not convert string to float: 'Self-employed'